doctype html
html
head
	meta(charset="utf-8")
	title Testerino
	link(rel="stylesheet" href="css/main.css")
body
	.container
		.title Testerona titlerone
		p Testeroni pepperino
		p Testerono tostorino
		p Testeronu tustarane
	script(src="lib/main.js")